:root {
  --color-text-primary: #212121;
  --color-text-secondary: #616161;
  --color-text-link: #2196f3;
}

body {
  color: var(--color-text-primary);
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

p strong,
h2 strong {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}
